.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--primary-color: #f69260;
--secondary-color: #fc854a;
--complimentary-color: #d6a4df;
--contrast-color: #ffd342;
--light-color: #a1ffee;
}

.container {
  background: #191919;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
}

nav a {
    /* font-size: 40px; */
    color: white;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

nav {
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background: var(--secondary-color);
    border-right: 2px solid #ffe4bd;
}

section {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all ease-in .5s;
    display: flex;
    justify-content: center;
    align-items: center;
} 

section h1 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0;
}

/* Styles applied on trigger */
section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

section:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards .5s;
}

#first {
  background:var(--primary-color);
}
#second {
    background: var(--complimentary-color);
}

#third {
    background: var(--contrast-color);
}

#fourth {
    background: var(--light-color);
}

@keyframes fadeIn {
    100% { opacity:1 }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

          /* Aboutme Page */

.about-container {
  background-image: url('https://res.cloudinary.com/doihe1pi6/image/upload/v1618961794/nico-mksmc-caH-ZLrisZA-unsplash_ovazv5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.about-main {
  /* font-family: 'Montserrat Alternates', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  max-width: 800px;
  margin-top: 60px;
  color: white;
  font-size: 20px;
  /* border: 2px solid #ffe4bd; */
  padding: 60px;
  background-color: rgba(255, 200, 117, 0.59);
}

h1 {
  position: absolute;
  font-family: 'Montserrat Alternates', sans-serif;
  top: 0;
  padding: 15px;
  width: 100%;
  background-color: #ffb71c;
}

h3 {
  padding: 20px;
}

.p-home {
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
}
