.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f69260;
  --secondary-color: #fc854a;
  --complimentary-color: #d6a4df;
  --contrast-color: #ffd342;
  --light-color: #f5cf52;
}

.container {
  background: transparent;
  height: 100vh;
  font-family: Montserrat, sans-serif;
  
}

nav a {
  /* font-size: 40px; */
  color: white;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}

nav {
  position: fixed;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  background: var(--secondary-color);
  border-right: 2px solid #ffe4bd;
}

.p-mobile {
  opacity: 0;
}

section {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 0;
  /* opacity: 0; */
  transition: all ease-in 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section h1 {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  opacity: 0;
}

/* Styles applied on trigger */
section:target {
  opacity: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

section:target h1 {
  opacity: 0;
  animation: 2s fadeIn forwards 0.5s;
}

#first {
  background: var(--primary-color);
}
#second {
  background: var(--complimentary-color);
}

#third {
  background: var(--contrast-color);
}

#fourth {
  background: var(--light-color);
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HOMEPAGE */
.homepage-section {
  width: 100%;
  height: 100%;
  background: #eaffae;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}

.wrapper {
  height: 100%;
  width: 50%;
  background-color: rgb(248, 152, 43);
  background-size: cover;
  overflow: hidden;
  color: #eaffae;
  position: absolute;
  top: 0;
  left: 0;
}

.sliding {
  position: absolute;
  top: 50%;
  left: -5px;
  color:rgb(248, 152, 43);
  white-space: nowrap;
  font-size: 12em;
  line-height: 220px;
  overflow: hidden;
  font-family: "arial black";
  animation: animate 20s linear infinite;
}

.sliding2 {
  position: absolute;
  top: 50%;
  left: 0px;
  white-space: nowrap;
  font-size: 12em;
  line-height: 220px;
  overflow: hidden;
  font-family: "arial black";
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
/* Aboutme Page */

.p-mobile {
  position: relative;
  opacity: 0;
  left: -10px;
}

.about-container {
  background-image: url("https://res.cloudinary.com/doihe1pi6/image/upload/v1618961794/nico-mksmc-caH-ZLrisZA-unsplash_ovazv5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.about-main {
  /* font-family: 'Montserrat Alternates', sans-serif; */
  font-family: "Quicksand", sans-serif;
  max-width: 900px;
  margin-top: 60px;
  color: white;
  font-size: 20px;
  /* border: 2px solid #ffe4bd; */
  padding: 60px;
  background-color: rgba(255, 200, 117, 0.59);
  border-radius: 20px;
}

.about-brand {
  margin: 0 auto;
  padding: 10px;
}

h1 {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 8px;
  top: 0;
  padding: 15px;
  width: 100%;
  background-color: #ffb71c;
}

h3 {
  padding: 20px;
}

.p-home {
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
}

h4 {
  padding: 10px;
}
/* PROJECTS */

.project-bg {
  background-image: url("https://res.cloudinary.com/doihe1pi6/image/upload/v1618961794/nico-mksmc-caH-ZLrisZA-unsplash_ovazv5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* max-width: 800px; */
  max-height: 650px;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  max-height: 300px;
  margin-top: 25px;
  margin: 5px;
  overflow: hidden;
  border-radius: 10px;
}

.img1 {
  height: 310px;
  width: 550px;
  z-index: 1;
}

.img2 {
  opacity: 0;
}

.app-descrip {
  position: absolute;
  width: 450px;
  height: 180px;
  z-index: 2;
  padding: 20px;
  font-size: 20px;
  color: white;
  font-family: "Quicksand", sans-serif;
  background-color: rgba(255, 103, 2, 0.69);
  opacity: 1;
  border-radius: 10px;
}

span

.app-descrip:hover {
  position: absolute;
  width: 450px;
  height: 180px;
  z-index: 2;
  padding: 20px;
  font-size: 20px;
  color: white;
  font-family: "Quicksand", sans-serif;
  background-color: rgba(255, 103, 2, 0.69);
  opacity: 1;
}

          /* CONTACT */

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vh;
  height: 100vh;
  overflow: hidden;
}



/* MOBILE SIZING */

@media only screen and (max-device-width: 480px) {
  nav {
    width: 30px;
  }

  nav a {
    font-size: 15px;
  }

  .p-mobile {
    position: relative;
    opacity: 1;
    left: -10px;
  }

  h1 {
    margin-left: 25px;
  }
  .about-main {
    margin-top: 930px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about-brand {
    position: relative;
    width: 230px;
    margin: 0 auto;
    left: -25px;
  }

  .about-container {
    background-size: cover;
    background-repeat: repeat-x;
  }

  .p-home {
    font-size: 25px;
  }

  .project {
    width: 250px;
    height: 100px;
    object-fit: cover;
  }

  .img1 {
    width: 250px;
    height: 120px;
  }

  .icon {
    opacity: 0;
  }
}
